<div class="home container">
    <div class="top">
        <div class="model">
            <app-dumbell/>
        </div>
        <div class="about">
            <span class="welcome">Welcome!</span>
            <h1 class="title">IronSculpt</h1>
            <p class="summary">"Welcome to Our Gym: Where Your Fitness Goals Become Reality. Step into a World of Expertise and Innovation, Where Dedicated Trainers, Cutting-Edge Equipment, and a Vibrant Community Await. Whether You're a Seasoned Athlete or Just Starting Out, Our Gym Provides the Perfect Environment to Challenge Yourself, Grow Stronger, and Achieve Success. Join Us Today and Embrace the Journey Towards a Healthier, Happier You."</p>
        <div class="buttons">
            <app-button>Reserve</app-button>
            <app-button>Contact Us</app-button>
        </div>
        </div>
    </div>
</div>
