@import "../../../assets/colors/colors";
@import "../../../assets/mixins/mixins";

.home {
    .top {
        display: flex;
        @include laptop-sm {
            justify-content: space-between;
        }
        @include tablet {
            flex-direction: column;
        }
        .model {
            @include mobile {
                text-align: center;
            }
        }
        .about {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include laptop-sm {
                width: 430px;
            }
            @include tablet {
                width: 100%;
            }
            .welcome {
                color: $gray;
                font-size: 26px;
            }
            .title {
                color: $white;
                font-size: 45px;
                font-weight: 700;
                margin: 0;
            }
            .summary {
                color: $white;
                margin: 20px 0;
                text-align: justify;
            }
            .buttons {
                display: flex;
                align-items: center;
                @include mobile {
                    flex-direction: column;
                }
                ::ng-deep {
                    &:nth-child(1) {
                        .button {
                            margin-right: 20px;
                            @include mobile {
                                margin: 0;
                                margin-bottom: 10px;
                                width: 320px;
                            }
                        }
                    }
                    &:nth-child(2) {
                        .button {
                            border-color: $white;
                            @include mobile {
                                margin: 0;
                                margin-bottom: 10px;
                                width: 320px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.explore {
    margin-top: 200px;
    @include mobileXL {
        margin-top: 100px;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        .title {
            color: $white;
            font-weight: 600;
        }
        .slider-arrows {
            display: flex;
            align-items: center;
            @include tablet {
                display: none;
            }
            .btn {
                width: 52px;
                height: 52px;
                border-radius: 50%;
                border: 2px solid $white;
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                &.next {
                    border-color: $gold;
                }
                &.prev {
                    transform: rotate(180deg);
                    margin-right: 20px;
                }
            }
        }
    }
    .blocks {
        display: none;
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;
        }
    }
    .slider {
        display: block;
        @include tablet {
            display: none;
        }
    }
}
